#container{
    background-color: rgb(160, 96, 19);
    padding:20px;
    display:inline-grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto auto auto auto;
    gap:15px;
}
#container>div{
    padding:30px;
    color:black;
}
#container>div:nth-child(1){
    background-color: red;
}
#container>div:nth-child(2){
    background-color: blue;
}
#container>div:nth-child(3){
    background-color: green;
}
#container>div:nth-child(4){
    background-color: orange;
}
#container>div:nth-child(5){
    background-color: yellow;
}
#container>div:nth-child(6){
    background-color: rgb(202, 13, 38);
}
#container>div:nth-child(7){
    background-color: violet;
}
#container>div:nth-child(8){
    background-color: rgb(108, 106, 218);
}
#container>div:nth-child(9){
    background-color: rgba(40, 13, 65, 0.89);
}
