#container{
    padding: 10px;
    background-color: rgb(5, 53, 46);
    display:inline-flex;
    gap:20px;
    width:500px;
    flex-wrap:wrap;
    justify-content:space-around;
}
#container >div:nth-child(1){
    background-color: yellow;
}
#container >div:nth-child(2){
    background-color: red;
}
#container >div:nth-child(3){
    background-color: blue;
}
#container >div:nth-child(4){
    background-color: rgb(0, 255, 157);
}
#container >div:nth-child(5){
    background-color: rgb(255, 0, 221);
}
#container >div:nth-child(6){
    background-color: blue;
}
#container >div:nth-child(7){
    background-color: rgb(0, 255, 55);
}
#container >div:nth-child(8){
    background-color: rgb(173, 106, 106);
}
#container >div:nth-child(9){
    background-color: rgb(21, 255, 0);
}
#container >div:nth-child(10){
    background-color: rgb(0, 247, 255);
    padding:20px;
    padding-top:28px;
}
#container >div{
    padding:30px;
    color:black;
    font-size:40px;
}