h1{
    text-align:center;
}

h2{
    color:rgb(71, 231, 106);
    margin-top:25px;
    margin-bottom:20px;
    font-size:25px
}

h3{
    text-align:center;
    font-size:22px
}

h4{
    text-align:center;
    margin-top: -10px;
}

.Developer{
    text-align:left;
}

.center-img{
    margin:auto;
    display: block;
}

body{
    background-color: rgb(31, 41, 78);
    padding:10px 100px ;
    color:white;
    font-family: calibri;
}

p{
    font-size: 15px;
}

span {
  display: flex;            
  gap: 30px;
  background-color: rgb(44, 53, 95);  
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
}

span a {
  color: red;             
  text-decoration: none;
  font-size: 14px;
}

span a:hover {
  text-decoration: underline;
}