#Container{
    height: 440px;
    width: 350px;
    border-radius: 15px;
    padding:5px;      
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Screen{
    height: 80px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Grid{
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    background-color: white;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
}
#Grid>div{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Grid>div:nth-child(4),#Grid>div:nth-child(8),#Grid>div:nth-child(12),#Grid>div:nth-child(15),#Grid>div:nth-child(16){
    background-color: black;
    color: white;
    font-size: 20px;
}
#Grid>div:nth-child(13){
    background-color: red;
    color: white;
}